fastapi
uvicorn[standard]
google-generativeai
vosk
playwright
beautifulsoup4
pydantic
chromadb
sentence-transformers
torch
python-dotenv
pyttsx3
numpy
protobuf==3.20.*
streamlit
pillow
pydub
pyaudioop
audio_recorder_streamlit